name: Build Image

on:
  pull_request:
    branches:
      - main
    paths:
      # '*' matches any character except '/'
      - 'images/*'
      - '.github/workflows/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Build Image: jacoco-tool
        run: |
          cd images
          IMAGE_NAME=ringcentral/jacoco-tool
          docker build -t ${IMAGE_NAME} -f Dockerfile .
          docker tag "${IMAGE_NAME}" "${IMAGE_NAME}:latest"
